.profile {
	max-width: 300px;
	margin: 32px auto;
	padding-top: 32px;

	background-color: #eeeaea;
	border-radius: 8px;

}

.description {
	margin-bottom: 32px;
}

.avatar {
	display:block;
	margin: 0 auto;

	width: 100px;
	height: 100px;
}

.name {
	text-align: center;
	margin: 8px 0px;
}

.tag {
	text-align:center;
	color: #8d8d8d;
	margin: 8px 0px;
}

.location {
	text-align:center;
	color: #8d8d8d;
	margin: 8px 0px;
}

.stats {
	width:100%;
	display:flex;
	text-align: center;
	justify-content:space-between;
	background-color:rgb(219, 223, 223);

}

.statsItem {
	display: flex;
	flex-direction:column;
	padding: 16px;
}

.label {
	color: #8d8d8d;
}